@use "sass:color";

body {
  background: white;
  position: relative;
  width: 100%;
  margin: auto;
}

header {
  background: white;
}

main {
  z-index: 0;
  margin: auto;
}

footer {
  width: 100%;
  background-color: $footer-background-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset,
button,
input {
  border: none;
}

:focus {
  outline: none;
}

address {
  font-style: inherit;
}

// Exemple si besoin de remplacer lighten dans ce fichier :
.some-class {
  background-color: color.adjust($some-color, $lightness: 0.05);
}
